
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Poppins:wght@400;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
     background: #FAFAFA;
     ;
  }

  @media(max-width:375px){
      
.team-profile{
    max-width: 375px;
    margin: 0 auto;
    padding:0 1em;
}
.team-profile .intro{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 1em;
}

..team-profile .intro .title{
font-family: PT Serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 48px;
letter-spacing: -0.045em;
text-align: left;

}

.team-profile .intro .subtitle{
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}

.team-profile .intro .description{
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.container{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(3, 300px);
    grid-gap: .5em;
}
.container .profile img{
    width: 90%;
}
.container .profile_content{
    display: flex;
}
.container .profile p{
    writing-mode: vertical-lr;
    text-transform: uppercase;
}
.container .profile-item:nth-child(even){
    align-self: end;
}


  }
/* bigger screen */

@media(min-width:376px){
    .team-profile{
        width: 900px;
        margin: 0 auto;
        padding:0 1em;
    }
    .team-profile .intro{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        padding: 2em 0;
    }
    .team-profile .intro .title{
        flex-basis: 2;
    }
    .team-profile .intro .text{
        flex-basis: 1;
    }
    
    ..team-profile .intro .title{
    font-family: PT Serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.045em;
    text-align: left;
    
    }
    
    .team-profile .intro .subtitle{
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        text-transform: uppercase;
    }
    
    .team-profile .intro .description{
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    .container{
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:repeat(2, 450px);
        grid-gap: .5em;
    }
    .container .profile img{
        width: 90%;
    }
    .container .profile_content{
        display: flex;
    }
    .container .profile p{
        writing-mode: vertical-lr;
        text-transform: uppercase;
    }
    .container .profile-item:nth-child(2){
        align-self: end;
    }
    .container .profile-item:nth-child(5){
        align-self: end;
    }

}

