
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Poppins:wght@400;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
     background: #d8d4d4;
  }
.profile_content{
    display: flex;
}
.profile_content p{
    writing-mode: vertical-lr;
    font-size: 24px;
    text-transform: uppercase;
}
 h3{
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    padding: .5em;

}